@mixin d-flex($prop1, $prop2) {
    min-height: $prop1;
    width: $prop2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-grid() {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}